<div class="row no-gutters">
  <div class="col-12 full-banner text-white">
    <div class="p-4 d-flex justify-content-start h-100">
      <div>
        <h1 class="h3">Avengers: Endgame</h1>

        <small class="d-flex my-2">
          <span class="info">2019</span>

          <span class="info age age-12"></span>

          <span> 3h 2min</span>
        </small>

        <p class="d-none d-lg-block">After Thanos wipes out half of all living creatures, the Avengers have to deal with the loss of friends and loved ones. With Tony Stark wandering lost in space without food and water, Steve Rogers and Natasha Romanov lead the resistance against the mad titan.</p>

        <a href="/description/Avengers-endgame" class="btn btn-primary text-uppercase font-weight-bold">See More</a>
      </div>
    </div>
  </div>
</div>
