<div class="trailer">
  <iframe src="https://www.youtube.com/embed/d9MyW72ELq0" title="Avatar: The Way of Water | Official Trailer" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  <div class="more-info">
    <h1>Avatar: The Way of Water</h1>

    <div class="ageRelevance">
      <p class="age age-12"></p>
      <p class="rate">8.0</p>
    </div>

    <p class="description">After starting a family, Jake Sully and Ney'tiri do everything they can to stay together. However, they must leave home and explore the regions of Pandora when an ancient threat resurfaces, and Jake must fight a difficult war against the humans.</p>

    <p>Release: 15 December 2022</p>
    <p>Duration: 3h 12min</p>
    <p>Genre: Action, Sci-Fi</p>
    <p></p>
  </div>
</div>
