<div class="trailer">
  <iframe src="https://www.youtube.com/embed/tmeOjFno6Do" title="Marvel&#39;s &quot;Avengers: Age of Ultron&quot; - Teaser Trailer (OFFICIAL)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  <div class="more-info">
    <h1>Avengers: Age of Ultron</h1>

    <div class="ageRelevance">
      <p class="age age-12"></p>
      <p class="rate">8.5</p>
    </div>

    <p class="description">In an attempt to protect the planet from threats, Tony Stark builds an artificial intelligence system that would take care of world peace. The project ends up going wrong and gives birth to Ultron. With the fate of the Earth at stake, Captain America, Iron Man, Thor, Hulk, Black Widow and Hawkeye will have to unite to once again save the human race from extinction.</p>

    <p>Released date: 23 April 2015</p>
    <p>Duration: 2h 1min</p>
    <p>Genre: Action, Sci-Fi</p>
    <p></p>
  </div>
</div>

