<div class="trailer">
  <iframe width="672" height="336" src="https://www.youtube.com/embed/LdOM0x0XDMo" title="TENET - Official Trailer" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  <div class="more-info">
    <h1>Tenet</h1>

    <div class="ageRelevance">
      <p class="age age-14"></p>
      <p class="rate">7.8</p>
    </div>

    <p class="description">Armed with only one word, Tenet, and fighting for the survival of the entire world, a Protagonist journeys through a twilight world of international espionage on a mission that will unfold in something beyond real time.</p>

    <p>Released date: 3 September 2020</p>
    <p>Duration: 2h 30min</p>
    <p>Genre: Action, Sci-Fi</p>
    <p></p>
  </div>
</div>

