<div class="trailer">
  <iframe src="https://www.youtube.com/embed/0jNvJU52LvU" title="Marvel Studios’ Avengers: Endgame | “To the End”" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  <div class="more-info">
    <h1>Avengers: End Game</h1>

    <div class="ageRelevance">
      <p class="age age-12"></p>
      <p class="rate">9.3</p>
    </div>

    <p class="description">After Thanos wipes out half of all living creatures, the Avengers have to deal with the loss of friends and loved ones. With Tony Stark wandering lost in space without food and water, Steve Rogers and Natasha Romanov lead the resistance against the mad titan.</p>

    <p>Released date: 25 April 2019</p>
    <p>Duration: 3h 2min</p>
    <p>Genre: Action, Sci-Fi</p>
    <p></p>
  </div>
</div>


