<div class="trailer">
  <iframe width="672" height="336" src="https://www.youtube.com/embed/d96cjJhvlMA" title="Marvel&#39;s Guardians of the Galaxy - Trailer 1 (OFFICIAL)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen> </iframe>
  <div class="more-info">
    <h1>Guardians Of The Galaxy</h1>

    <div class="ageRelevance">
      <p class="age age-12"></p>
      <p class="rate">8.0</p>
    </div>

    <p class="description">Space adventurer Peter Quill becomes the prey of bounty hunters after he steals the orb of a treacherous villain, Ronan. To escape danger, he forms an alliance with a group of four aliens. When Quill discovers that the stolen orb possesses a power capable of changing the course of the universe, he and his group must protect the object in order to save the future of the galaxy.</p>

    <p>Released date: 1 August 2014</p>
    <p>Duration: 2h 1min</p>
    <p>Genre: Action, Adventure, Comedy</p>
    <p></p>
  </div>
</div>
