<div class="trailer">
  <iframe width="672" height="336" src="https://www.youtube.com/embed/tg52up16eq0" title="SPIDER-MAN: INTO THE SPIDER-VERSE - Official Trailer #2 (HD)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  <div class="more-info">
    <h1>Spider-Man: Into the Spider-Verse</h1>

    <div class="ageRelevance">
      <p class="age age-0"></p>
      <p class="rate">8.4</p>
    </div>

    <p class="description">After being hit by a radioactive web, Miles Morales, a young black man from Brooklyn, becomes Spider-Man, inspired by the legacy of the late Peter Parker. However, when he visits his idol's grave on a rainy night, he is surprised by the presence of Peter himself, wearing the hero's costume under an overcoat. The surprise is even greater when Miles discovers that he came from a parallel dimension, just like other versions of Spider-Man.</p>

    <p>Released date: 14 December 2018</p>
    <p>Duration: 1h 57min</p>
    <p>Genre: Action, Animation, Adventure</p>
  </div>
</div>

