<div class="trailer">
  <iframe width="1343" height="522" src="https://www.youtube.com/embed/qGqiHJTsRkQ" title="Knives Out (2019 Movie) Official Trailer — Daniel Craig, Chris Evans, Jamie Lee Curtis" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  <div class="more-info">
    <h1>Knives Out</h1>

    <div class="ageRelevance">
      <p class="age age-14"></p>
      <p class="rate">7.9</p>
    </div>

    <p class="description">After his 85th birthday, Harlan Thrombey, a famous crime writer, is found dead. Hired to investigate the case, detective Benoit Blanc discovers that among the mysterious employees and Harlan's conflicted family, everyone can be considered a suspect in the crime.</p>

    <p>Released date: 27 November 2019</p>
    <p>Duration: 2h 10min</p>
    <p>Genre: Comedy, Crime, Drama</p>
  </div>
</div>
